<form action="{% url 'polls:vote' %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>"Who is your favorite employee?"</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for employee in department.employee_set.all %}
        <input type="radio" name="favorite" id="employee{{ forloop.counter }}" value="{{ employee.name }}">
        <label for="employee{{ forloop.counter }}">{{ employee.name }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>